$main-color: #d8d3cd;

body {
    background-color: $main-color;
    margin: 0;
    position: relative;
}

.btn {
    position: absolute;
    text-align: center;
    bottom: 5px;
    right: 5px;
    height: 40px;
    width: 250px;
    font-size: 30px;
    background: none;
    border: none;
    &:hover {
        text-shadow: -2px 2px 2px #5c5a57;
    }
}

.spotify {
    position: absolute;
    bottom: 50px;
    right: 5px;
    p {
        width: 250px;
        margin: 0;
        font-size: 12px;
        text-align: right;
    }
}

.page-content {
    height: 100vh;
    background-color: $main-color;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    header {
        position: relative;
        select {
            position: absolute;
            height: 30px;
            width: 100px;
            top: 5px;
            right: 5px;
        }
    }

}

@media (max-width: 933px){
    .page-content {
        background-size: 100% auto;
    }
    .spotify{
        margin-top: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        p {
            width: 100%;
            margin: 0;
            text-align: right;
        }
        iframe {
            width: 100%;
        }
    }
}
